.Comment {
   width: 350px;
   margin: 30px auto;
   background-color: #F6f6f6;
   padding: 10px 15px;
   font-size: 14px;
}

.Comment-text {
   width: 230px;
   text-align: start;
   color: #444;
}

.Comment-date {
   text-align: right;
   font-size: 13px;
   font-style: italic;
   color: #999;
}